@import "_normalize";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  background-color: lightgreen;
  text-align: center;
  padding: 4rem 1rem;
}
.instructions {
  text-align: center;
  padding: 2rem 4rem;
  h2 {
    margin: 1rem;
    padding: 1rem;
  }
}
.photos {
  display: flex;
  &__header {
    text-align: center;
  }
}

.photo__group {
  display: flex;
  flex-direction: column;
}

.photo__image {
  width: 100px;
  height: 100px;
}
