@import "_normalize";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ecf0f3;
}
.hero {
  background-color: lightgreen;
  text-align: center;
  padding: 4rem 1rem;
}
.instructions {
  text-align: center;
  padding: 2rem 4rem;
  h2 {
    margin: 1rem;
    padding: 1rem;
  }
}
.photo {
  display: flex;
  justify-content: center;
  &__group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
  }
  &__item {
    cursor: pointer;
    &--background {
      background: #ecf0f3;
      border-radius: 1rem;
      margin: 1rem;
      padding: 1rem;
      box-shadow: 1rem 1rem 1.2rem #cbced1, -1rem -1rem 1.2rem white;
    }
  }
  &__image {
    width: 100px;
    height: 100px;
    pointer-events: none;
  }
  &__description {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    &--english,
    &--polish {
      text-align: center;
      margin: 8px;
    }
  }
}
.photo__description--polish-show {
  visibility: visible;
}
.photo__description--english-show {
  visibility: visible;
}

.random-image,
.drag-drop,
.random-image__photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__title {
    margin: 2rem;
    padding: 2rem;
  }
  &__image {
    width: 300px;
    height: 300px;
  }
  &__input {
    margin: 1rem;
    padding: 1rem;
    border: 4px solid gray;
    font-size: 1.6rem;
    height: 4rem;
    max-width: 30vh;
    border-radius: 16px;
    &:focus {
      content: "";
      border: 4px solid #70c570;
    }
  }
  &__result {
    border-radius: 16px;

    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    opacity: 0;
  }

  &__result.correct {
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgba(9, 121, 30, 1) 35%,
      rgba(4, 174, 162, 1) 84%,
      rgba(0, 212, 255, 1) 100%
    );
    opacity: 1;
  }
  &__result.try-again {
    color: black;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(219, 181, 17, 1) 35%,
      rgba(209, 202, 25, 1) 84%,
      rgba(255, 87, 0, 1) 100%
    );
    opacity: 1;
  }
  &__button-submit,
  &__button-generate {
    margin: 1rem;
    padding: 1rem;
    border: 4px solid gray;
    font-size: 1.6rem;
    height: 4rem;
    max-width: 30vh;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__button-generate {
    display: flex;
    margin: auto;
    background: #ecf0f3;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 1.2rem #cbced1, -1rem -1rem 1.2rem white;
  }
  &__button-submit {
    background: #ecf0f3;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 1.2rem #cbced1, -1rem -1rem 1.2rem white;
  }
}

.drag-drop {
  &__container {
    display: flex;
    align-items: center;
    margin: 2rem;
  }
  &__box {
    height: 150px;
    width: 150px;
    border: solid 4px red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    &--item {
      background: url(./assets/animals/001-cow.png) no-repeat center center;
      background-size: cover;

      height: 100px;
      width: 100px;
    }
  }
}
